<section class="w3l-footer-29-main">
    <div class="footer-29 py-5">
        <div class="container py-lg-4">
            <div class="row footer-top-29">
                <div class="col-lg-3 col-md-6 col-sm-8 footer-list-29 footer-1">
                    <h6 class="footer-title-29">Bize Ulaşın</h6>
                    <ul>
                        <li>
                            <p>
                                <span class="fa fa-map-marker"></span> Mvc Proje Oteli, #32841 B Blok, #Balıkesir & Ayvalık, Türkiye.
                            </p>
                        </li>
                        <li><a href="tel:+7-800-999-800"><span class="fa fa-phone"></span> +(90)-530-000-0000</a></li>
                        <li>
                            <a href="mailto:hotels@mail.com" class="mail">
                                <span class="fa fa-envelope-open-o"></span>
                                hotelmvcproje@gmail.com
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-4 footer-list-29 footer-2 mt-sm-0 mt-5">
                    <ul>
                        <h6 class="footer-title-29">Site Haritası</h6>
                        <li><a href="/AnaSayfa/Index/">Ana Sayfa</a></li>
                        <li><a href="/Default/Hakkimda/">Hakkımızda</a></li>
                        <li><a href="/Hizmetler/Hizmet/">Hizmetlerimiz</a></li>
                        <li><a href="/iletisim/Index/">Bize Ulaşın</a></li>
                        <li><a href="/Rezervasyon/Index/">Rezervasyon Yap</a></li>
                    </ul>
                </div>
               
               
            </div>
        </div>
    </div>
</section>