
<section class="w3l-testimonials">
    <!-- main-slider -->
    <div class="testimonials py-5">
        <div class="container text-center py-lg-3">
            <div class="heading text-center mx-auto">
                <h3 class="title-big text-center">Referanslarımız</h3>
            </div>
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="owl-testimonial owl-carousel owl-theme">
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="~/hotels-starter/assets/images/team1.jpg" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="message">
                                    Geçtiğimiz ay şirket olarak katıldığımız iş kampında 4 gün boyunca bizleri evimizdeymişiz gibi ağırlayan Mvc Otel Projesi ekibine çok teşekkür ediyor, herkese iyi çalışmalar diliyorum.
                                </div>
                                <div class="name">- Ahmet Yıldız</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="~/hotels-starter/assets/images/team2.jpg" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="message">
                                    Uzun süredir işlerden kaçıp bir yerlerde doğayla iç içe manzara eşliğinde tatil yapmak istiyordum. Doğanın içinde olup doğaya zarar vermeden yapılan bu oteli ve çalışanlarını kutluyorum.
                                </div>
                                <div class="name">- Murat Yücedağ</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="~/hotels-starter/assets/images/team3.jpg" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="message">
                                    Haziran ayında ekip olarak hem kutlama hem de yoğun geçen iş dönemininin ardından mini bir mola amacıyla geldiğimiz Mvc Otelinde kalmaktan çok mutluyum, en kısa sürede tekrar ziyaret etmek isterim..
                                </div>
                                <div class="name">- Merve Güneş</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="~/hotels-starter/assets/images/team4.jpg" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="message">
                                    Bu yaz ailemle beraber geldikten sonra o kadar memnun kaldım ki hemen kız kardeşimi ve eşini de davet ettim, yaz planlarınız arasına bu oteli mutlaka ekleyin.
                                </div>
                                <div class="name">- Emine Çınarlı</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /main-slider -->
</section>